body
{
margin: 0px;
padding: 0px;
}
h1
{
	color: white;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-color: white solid 3px;
	vertical-align: middle;
}
h2
{
	margin: 0px;
	padding: 0px;

}
header
{
	text-align: center;
}
section
{
	text-align: center;
	background-image: url("../img/cayac.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	bottom: 0px;
	padding-bottom: 50px;
	position: fixed;
	top: 100px;
	left: 0px;
	right: 0px;

}

footer
{
	

}
#cabecera
{
	background-color: #5F3961;
	height: 50px;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	line-height: 50px;
	font-family:arial, helvetica,sans-serif;
	color:white;
}
#contenedor
{
	
	margin: 0px;
}

#pie
{

	position: fixed;
    background-color: #5F3961;
	text-align: center;
	height: 50px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#yaca
{
	height: 30%;
	border-radius: 350px;
	top: 0px;
	margin: 15px;
	

}